 

.btn-push {
  position: relative;
  top: 0px;
  font-family: "Open Sans";
  text-decoration: none;
  font-size: 25px;
  background: #f7f7f7;
  padding: 15px 50px;
  border: 1px solid #c4c4c4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 0px #c4c4c4;
  -moz-box-shadow: 0px 5px 0px #c4c4c4;
  -ms-box-shadow: 0px 5px 0px #c4c4c4;
  -o-box-shadow: 0px 5px 0px #c4c4c4;
  box-shadow: 0px 5px 0px #c4c4c4;
  color: #222;
  text-shadow: 1px 1px 1px #fff;
  -webkit-transition: All 250ms ease;
  -moz-transition: All 250ms ease;
  -o-transition: All 250ms ease;
  -ms-transition: All 250ms ease;
  transition: All 250ms ease;

  &:active {
    position: relative;
    top: 5px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: All 250ms ease;
    -moz-transition: All 250ms ease;
    -o-transition: All 250ms ease;
    -ms-transition: All 250ms ease;
    transition: All 250ms ease;
  }

  &.purple {
    cursor: pointer;
    background: #7752cf;
    border: 1px solid #3d1266;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 0px #1f0047;
    -moz-box-shadow: 0px 5px 0px #3f1466;
    -ms-box-shadow: 0px 5px 0px #290b58;
    -o-box-shadow: 0px 5px 0px rgb(40, 18, 104);
    box-shadow: 0px 5px 0px #38105e;
    color: #fff;
    text-shadow: 1px 1px 1px #0d0346;
  }
}

.project-link {
  border: 1px solid black;
  padding: 15px;
  background-color: black;
  color: white;
  text-decoration: none;
}