.about {
    @include section(rgba(0, 0, 255, 0.116));
    font-family: 'secondary','sans-serif';
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    flex-direction: column;
    .title-about-me {
        @include titleSection(35px,100px);   
    }
    .title-skills {
        @include titleSection(25px,55px);
    }
    .about-text {
        p {
            margin-bottom: 20px;
        }
        width: 60%;
        font-size: 20px;
        line-height: 25px;
    }
}

@media (max-width:425px) {
    .title-about-me {
        @include titleSection(20px,50px);
    }
    .title-skills {
        @include titleSection(20px,40px);
    }
}