.projects {
    @include section(rgba(0, 0, 255, 0.116),100%);
    .title-projects-section {
        @include titleSection(30px,100px);
    }
}

@media (min-width:425px) {
    .projects {
        padding-top: 70px;
    }
}
@media (max-width:425px) {
    .projects {
        .title-projects-section {
            padding-top: 50px
        }
        padding-top: 200px;
    }
    #about > div {
        width: 80%;
    }
}

@media (max-width:375px) {
    .projects {
        .title-projects-section {
            padding-top: 50px
        }
        padding-top: 280px;
    }
}

