.navbar {
    font-family: 'secondary', sans-serif;
    font-size: 24px;
    letter-spacing:1px;
    color:rgba(0, 0, 0, 0.452) !important;
    .nav-link {
        padding: 30px;
        transition: 0,9s;
        &:hover {            
            &:after {
                width: 100%;
                background-color: $rose;
            }
        }
        &:after {
            content: '';
            display: block;
            margin: 10px 0;            
            height: 9px;
            width: 0px;
            background: transparent;
            transition: width .6s ease, background-color .6s ease;
        }
    }    
    .navbar-nav {
        justify-content: space-around;
        width: 500px;
    }

}


@media (max-width:425px) {
    #basic-navbar-nav > div {
        margin: auto;
        font-size: 20px;
        width: 50%;
        padding: 0;
       a {
           padding: 0;
       }
    }
}